<div class="auth-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="submit" value="login">
        <p>Não tem uma conta? <a href="/register">Faça o registro</a></p>
    </form>
</div>