<div class="dashboard">
    <div class="title-container">
        <h2>dashboard</h2>
        <a href="/ideias/novaIdeia" class="btn">Add Pensamento</a>
    </div>

    <h3>Seus Pensamentos</h3>
</div>